

!*template*

*.avi
*.egg
*.gexf.gz
*.h5
*.mat
*.log
*.png
*.pyc
*.sh
*.swp
*.zip
.ipynb_checkpoints
*/.ipynb_checkpoints/*

*.DS_Store
**/.DS_Store

!examples/image1.mat

dist/
Neurokernel_Retina.egg-info/
